<!DOCTYPE html>
<html lang="en">

<head>
    <title>Egg</title>
    <meta name="keywords">
    <meta name="description">
    <meta http-equiv="content-type" content="text/html;charset=utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link type="text/css" rel="stylesheet" href="/public/asset/css/reset.css">
    </link>
    <script src="/public/assets/js/polyfill/polyfill.7.10.4.min.js"></script>
</head>

<body>
    <div id="app"></div>
</body>

</html>